<li [ngClass]="{'completed': todo.completed,
                'editing': editing}">
  <div class="view">
    <input class="toggle"
           type="checkbox"
           [formControl]="checkField"
           [checked]="todo.completed"
    >
    <label (dblclick)="edit()">{{todo.text}}</label>
    <button class="destroy" (click)="removeTodo()"></button>
  </div>
  <input class="edit"
         [value]="todo.text"
         [formControl]="txtInput"
         (blur)="finishEdition()"
         #txtInputTag
  >
</li>
